body {
    background-color:#854D27;
    color: #E7E393;
}
.heading{
    font-size: 62px; 
    color: #E7E393;
    font-family: Caveat,'Amatic SC', cursive, Georgia, "Adobe Garamond Pro", "Minion Pro", "Palatino", "Baskerville", "Goudy Old Style";
    text-align: center;
    margin-bottom: 120px;
    background-color: #DD7230;
    border: 5px solid #E7E393;
    border-radius: 15px;
}
.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: caveat ,'Times New Roman', Times, serif;
    font-size: 30px;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:350px;
    text-align: center;
}
div img {
    border: 5px solid #E7E393;
    width:300px;
    height: auto;
    border-radius: 3px;

}
.recipe img:hover{
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 20px;
    box-shadow: 0 0 15px #E7E393;
}