body {
    background-color:#E5D0CC;
    color:  #444554;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 62px; 
    color: #444554;
    font-family: Caveat,'Amatic SC', cursive, Georgia, "Adobe Garamond Pro", "Minion Pro", "Palatino", "Baskerville", "Goudy Old Style";
    text-align: center;
    width: max-content;
    margin-bottom: 70px;
    margin-top: 70px;
    border-radius: 5px;
    align-self: center;
}
.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: caveat ,'Times New Roman', Times, serif;
    font-size: 30px;
    align-items: center;
    flex-wrap: wrap;
}
.recipe p {
    /* border: 3px solid black; */
    display: flex;
    margin-top: 0;
}
.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:350px;
    text-align: center;
    /* border: 3px solid black; */
}
div img {
    width:300px;
    height: auto;
    border-radius: 5px;

}
.recipe img:hover{
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}